@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

/* VIEW */

.view.scale-to-fill {
	width: 100%;
	height: 100%;
}

/* LABEL */

.label {
	/*color: rgb(0, 0, 0);*/
}
.label.align-left {
	text-align: left;	
}
.label.align-center {
	text-align: center;	
}
.label.align-right {
	text-align: right;	
}

/* BUTTON */

.button {
	text-align: center;
	height: auto !important;
}
.button:hover {
	opacity: .82;
}
.button.default { 
	background-color: #00bebe;
} 
.button.rounded-rect {
	background-color: #00bebe;
	color: #fff;
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
}
.button.rounded-rect span {
	/*line-height: 30px;*/
}

/* TEXT FIELD */

.text-field input {
	width: 100%;
	font-size: inherit;
	height: inherit;
	border: none;
	outline: none;
	padding: 0 10px;
}
.text-field input.rounded-rect {
	border-radius: 5px;
}

/* SEGMENT */

.segment {
	float: left;
    border: 1px solid #00bebe;
    padding: 5px;
    width: 50%;
	text-align: center;
	background-color: transparent;
	color: #00bebe;
	cursor: pointer;
}

.segment:first-child {
	border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.segment:last-child {
	border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.segment.selected {
	background-color: #00bebe;
	color: #fff;
}

/* SWITCH */

input[type="checkbox"] {
	-webkit-appearance: none;
    background-color:grey;
    height: 24px;
    width: 45px;
	border-radius: 20px;
	outline: none;
	transition: ease-in-out 0.3s;
}

input[type="checkbox"]::after {
	content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    height: 20px;
    width: 20px;
    background-color: #fff;
	border-radius: 50%;
	transition: ease-in-out 0.3s;
}

input[type="checkbox"]:checked {
	background-color: #00bebe;
}

input[type="checkbox"]:checked::after {
	left: 23px;
}

/* SLIDER */ 

/* PROGRESS VIEW */

/* ACTIVITY INDICATOR VIEW */

/* PAGE CONTROL */

/* STEPPER */

/* NAVIGATION BAR */
.navigation-bar {
	background-color: #fafafa;
	border-bottom: 1px solid #d6d6d6;
}

/* TABLE VIEW */
.table-view .table-view-cell .label {
	background-color: #fafafa;
	border-bottom: 1px solid #d6d6d6;
}